.players {
	width: 30vw;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	color: whitesmoke;
}

.player {
	border: 2px solid #195ef4;
	border-radius: 5%;
	padding: .5rem 0;
	display: flex;
	font-size: 1.5rem;
	justify-content: center;
	align-items: center;
	width: 10vw;
}
